@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="row">
    <div class="col-md-12 col-sm-8">
        <section>

            <div class="login-container animated fadeInDown bootstrap snippets bootdeys">
                <div class="loginbox bg-white">
                    <div class="loginbox-title">SIGN IN</div>
                    <div class="loginbox-social">
                        <div class="social-title ">Connect with Your Social Accounts</div>
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="social-buttons">
                                <button type="submit" name="provider" value="Facebook" class="button-facebook">
                                    <i class="social-icon fa fa-facebook"></i>
                                </button>
                                <a href="" class="button-twitter">
                                    <i class="social-icon fa fa-twitter"></i>
                                </a>
                                <button type="submit" name="provider" value="Google" class="button-google">
                                    <i class="social-icon fa fa-google-plus"></i>
                                </button>
                            </div>
                      </form>
                    </div>
                    <div class="loginbox-or">
                        <div class="or-line"></div>
                        <div class="or">OR</div>
                    </div>
                    <form id="account" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="loginbox-textbox">
                            <input asp-for="Input.Email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="loginbox-textbox">
                            <input asp-for="Input.Password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="loginbox-forgot">
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot Password?</a>
                        </div>
                        <br />
                        <div class="loginbox-forgot">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </div>
                        <div class="loginbox-submit">
                            <input type="submit" class="btn btn-primary btn-block" value="Login">
                        </div>
                        <div class="loginbox-signup">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </div>
                    </form>
                </div>
            </div>

        </section>
    </div>
</div>


@*<div class="col-md-6 col-md-offset-2">-->*@
@*<section>
        <h4>Use another service to log in.</h4>
        <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>*@
<!--</div>-->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
